
<!DOCTYPE html>
<html>
<head>
	<style>
		body{
			text-align: center;
			background-color: aqua;
		}
		span{
			font-size: smaller;
			font-weight: bold;
			font-style: italic;
		}
	</style>
    <title></title>
   <body>
	
	<div id="fb-root"></div>
<script async defer crossorigin="anonymous" 
        src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v9.0" 
        nonce="ihqHhvna"></script>
</head>

<h1>Welcome To facebook </h1>
<p>you can post anything to your fb account externally</p>
<div class="fb-comments" data-href="http://127.0.0.1:5000/GFG" 
     data-width="" data-numposts="5"></div>


	 <div id="fb-root"></div>
	<script async defer crossorigin="anonymous"
			src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v9.0"
			nonce="4HOL61En"></script>
</head>
<body>
<h1>Like and Share</h1>
<div class="fb-like" data-href="http://127.0.0.1:5000/LIkeandShare"
	data-width="" data-layout="button_count" data-action="like"
	data-size="large" data-share="true"></div>

	<footer>
		<span>
			<h1>@cossiwing001@2023</h1>
		</span>
		
	</footer>
</body>
</html>

